@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "DM Sans";
  src: url("../public/DM_Sans/DMSans-Regular.ttf") format("truetype");
}

.green_shadow {
  box-shadow: 0px 4px 20px 2px rgba(6, 214, 160, 0.25);
}

.purple_text_shadow {
  text-shadow: 0px 0px 22px rgba(137, 104, 250, 0.56);
}

.yellow_text_shadow {
  text-shadow: 0px 0px 13px rgba(255, 209, 102, 0.42);
}

.gradient_banner {
  background: linear-gradient(180deg, #0023b0 0%, #060a27 54.5%, #060606 100%);
}

/* input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
} */

.white_shadow {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.1));
}

.glass_background {
  background: linear-gradient(
    93.71deg,
    rgba(255, 255, 255, 0.3) -3.25%,
    rgba(255, 255, 255, 0.1) 107.7%
  );
}

.animate_entrance_1 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.animate_entrance_2 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.6s;
  animation-fill-mode: backwards;
}

.animate_entrance_3 {
  animation-duration: 0.5s;
  animation-name: animate_entrance;
  animation-delay: 0.7s;
  animation-fill-mode: backwards;
}

@keyframes animate_entrance {
  0% {
    opacity: 0;
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
